<title>Starter Kit &#124; Designs Encoded</title>
<meta name="description" content="Startker kit for server side rendering projects and RESTful APIs">
<meta name="keywords" content="Designs Encoded, starter kit, starter project, server side rendering, RESTful APIs, India">


<div class="container pt-5 mt-5">
    <div class="row g-3">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

            <div class="h-100 d-flex flex-column justify-content-center">
                <h1 class="text-accent">
                    <i class="bi bi-lightning"></i> Quick start
                </h1>
                <p>
                    This starter kit provides a bare minimal skeleton required to quickly get started with a server side
                    rendering project, with all the basic requirements and dependencies already setup for you.
                </p>
            </div>

        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <img src="assets/images/ship.svg" class="img-fluid float-end" style="max-width: 430px;" alt="" srcset="">
        </div>
    </div>
</div>