<title>Admin Login &#124; Designs Encoded</title>

<div class="container-fluid">
    <div class="row py-5 pb-4 my-5">

        <div class="col-lg-7 text-center">
            <img src="/assets/images/security.svg" alt="" class="img-fluid" style="max-width: 400px;">
        </div>

        <div class="col-lg-5 ">

            <div class="h-100 d-flex flex-column justify-content-center">
                <div class="rounded bg-light p-3 g-3">
                    <h3 class="text-primary mb-4">Admin Login</h3>
                    
                    <div class="input-group border rounded mb-3">
                        <span class="input-group-text border-0 bg-white pe-0">
                            <i class="bi-person-fill"></i>
                        </span>
                        <input type="text" class="form-control shadow-none border-0" id="loginID"
                            placeholder="email@example.com">
                    </div>
                    <div class="input-group border rounded mb-3">
                        <span class="input-group-text border-0 bg-white pe-0">
                            <i class="bi-key-fill"></i>
                        </span>
                        <input type="password" class="form-control shadow-none border-0" id="password"
                            placeholder="password">
                    </div>

                    <button class="btn btn-primary shadow-none">
                        Login
                        <i class="bi-unlock-fill"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>