<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand p-0 mx-auto" href="/">

            <img src="/assets/logos/logo.png" class="logo" style="height: 2.5rem;" alt="" srcset="">
            {{!-- <img src="/assets/logos/logo.svg" class="logo" style="height: 2.5rem;" alt="" srcset=""> --}}

        </a>
    </div>
</nav>