@import "./definitions.scss";
// Required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

// $blue: $primary;
// // $primary: $primary;

// "blue": $primary,
// $colors: (
//   "accent": $accent,
// );

// "primary": $primary,
$custom-colors: (
  "accent": $accent,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../../node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select {
  border: none;
  outline: none;
}
